<h1>Políticas de privacidad</h1>

              <p>La dirección de AFCleaning está comprometida con el cumplimiento de la legislación vigente en materia
                de protección de datos, para ello hemos elaborado la presente Política de Protección de Datos.</p>
              <p>En AFCleaning estamos comprometidos en impulsar el cumplimiento de los principios de responsabilidad
                activa establecidos en el Reglamento General de Protección de Datos (en adelante RGPD) mediante un
                proceso de mejora continua, orientado a:</p>
              <ul>
                <li>Tratar los datos personales de manera lícita, legal y transparente en las relaciones con los
                  interesados.</li>
                <li>Utilizar sólo y exclusivamente los datos personales para las finalidades previstas en cada
                  tratamiento. En ningún caso utilizarlos para otras finalidades distintas o incompatibles.</li>
                <li>Analizar las bases legales de los tratamientos y obtener el consentimiento de los interesados en
                  los casos que el mismo sea necesario para el tratamiento.</li>
                <li>Tratar los mínimos datos personales que resulten necesarios para la finalidad perseguida.</li>
                <li>Mantener los datos personales actualizados y exactos. En los casos que se observen inexactitudes
                  de los datos, proceder a actualizarlos o a suprimirlos.</li>
                <li>Mantener los datos personales el mínimo tiempo necesario para los fines del tratamiento y de
                  acuerdo con los plazos de conservación legalmente establecidos.</li>
                <li>Mantener en todo momento la confidencialidad, integridad y disponibilidad de los datos personales
                  que tratamos.</li>
              </ul>
              <p>Este compromiso se traduce en lo siguiente:</p>
              <ul>
                <li>Dotar de los recursos necesarios y establecer los objetivos necesarios para la correcta
                  implantación y mejora continua de la seguridad de la información y la protección de los datos
                  personales que tratamos.</li>
                <li>Fomentar e implementar las medidas adecuadas para que se lleve a cabo la formación, capacitación y
                  concienciación de todo el personal en Seguridad de la Información y en protección de datos.</li>
                <li>Establecer los criterios adecuados de evaluación de riesgos a los que están expuestos los
                  tratamientos orientados a que todos los riesgos que presenten un nivel no aceptable sean tratados
                  adecuadamente hasta obtener un nivel de riesgo residual aceptable.</li>
                <li>Elaborar y mantener los registros de actividades de todos los tratamientos que realizados.</li>
                <li>Establecer los procedimientos para prevenir las violaciones de seguridad de los datos y en caso de
                  producirse, gestionarlas y notificarlas sin dilación.</li>
                <li>Nombrar a un Delegado de Protección de Datos y respetar su imparcialidad e independencia en el
                  ejercicio de sus funciones.</li>
                <li>La presente política será de obligado cumplimiento y de aplicación a todo el personal que trate
                  con datos personales, por lo que se aprueba y publica para que sea conocida por todas las partes
                  interesadas en España, a 18 de noviembre de 2019.</li>
              </ul>
              <p>La presente política será de obligado cumplimiento y de aplicación a todo el personal que trate con
                datos personales, por lo que se revisa, aprueba y publica para que sea conocida por todas las partes
                interesadas en España, a 17 de julio de 2020.</p>
              <h3 class="second_title"><strong>INFORMACIÓN SOBRE LOS DATOS QUE TRATAMOS</strong></h3>
              <p>De acuerdo con nuestra política de protección de datos vamos a proceder a informar de una forma clara
                y comprensible sobre el tratamiento que hacemos en AFCleaning de los datos personales que disponemos
                porque los interesados nos lo habéis facilitado por cualquier medio que hayáis considerado oportuno (a
                través de esta página web, correo electrónico, telefónico o mediante cualquier otro medio electrónico
                o manual).</p>
              <h3 class="second_title">IDENTIDAD DEL RESPONSABLE</h3>
              <p>Informamos que la identidad del responsable de tratar los datos personales que nos habéis facilitado
                es: datos, direccion , telefono, y pagina</p>
              <p>Datos de contacto de nuestro Delegado de Protección de Datos</p>
              <p>Puede contactar con nuestro Delegado de Protección de Datos en la siguiente dirección:
                <strong>info@afcleaning.com</strong>
              </p>
              <h3 class="second_title">FINALIDAD DE LOS TRATAMIENTOS</h3>
              <p>Los datos que nos hayan facilitado se tratarán con la finalidad de gestionar las relaciones con
                nuestros clientes y proveedores, realizar la prestación de los servicios contratada por nuestros
                clientes, así como la gestión de las relaciones con nuestros clientes y el mantenimiento de nuestras
                relaciones comerciales y de fidelización de clientes.</p>
              <p>Si ha dado su consentimiento expreso a recibir información comercial, le informamos que podremos
                facilitar dicha información por cualquier medio que nos haya facilitado (correo electrónico, postal o
                teléfono).</p>
              <p>Los datos que nos facilitan para hacernos una consulta o se utilizarán solo y exclusivamente para
                responderle a su consulta o atender a su solicitud.</p>
              <p>Informamos a las personas que nos envíen su curriculum, que sus datos serán tratados con total
                confidencialidad y utilizados sólo y exclusivamente en los casos que AFCleaning tenga abierto un
                proceso de selección de personal.</p>
              <h3 class="second_title">POLÍTICA DE RETENCIÓN DE DATOS</h3>
              <p>Los datos proporcionados se conservarán mientras se mantenga la relación comercial y contractual con
                nuestros clientes y proveedores o durante los años necesarios para cumplir con las obligaciones
                legales.</p>
              <p>Respecto a los datos mantenidos para las comunicaciones comerciales se mantendrán hasta que el
                interesado ejerza su derecho a la supresión de datos.</p>
              <h3 class="second_title">COMUNICACIONES DE DATOS PREVISTAS</h3>
              <p>No está prevista ninguna comunicación de datos salvo que exista una obligación legal o contractual.
              </p>
              <p>Le informamos que colaboramos con otras empresas para prestar nuestros servicios, en cuyo caso
                facilitaremos los datos necesarios para poder prestar los servicios subcontratados.</p>
              <h3 class="second_title">LEGITIMACIÓN DE LOS TRATAMIENTOS</h3>
              <p>En Livin 4 malaga SL tenemos especial cuidado en analizar la licitud de todos los tratamientos que
                realizamos.</p>
              <p>En este sentido los tratamientos que se realizan con nuestros clientes o proveedores con los que nos
                une una relación contractual se realizan en base al contrato firmado entre ambas partes (legitimación
                basada en el artículo 6.1.c del RGPD).</p>
              <p>En los casos que nos pongamos en contacto con los clientes para conocer el estado de satisfacción con
                los servicios prestados y la calidad de los mismos, la legitimación al tratamiento está basada en un
                interés legítimos de AFCleaning (legitimación basada en el artículo 6.1.f).</p>
              <p>En el caso que los usuarios del servicio web envíen una consulta o una solicitud, la legitimación al
                tratamiento está basada en el consentimiento del usuario que ha marcado la correspondiente casilla de
                autorización al tratamiento de sus datos (legitimación basada en el artículo 6.1.a del RGPD).</p>
              <p>Si el usuario ha dado su consentimiento a recibir comunicaciones comerciales, la legitimación al
                tratamiento tiene su base legítima en el consentimiento (legitimación basad en el artículo 6.1.a del
                RGPD).</p>
              <h3 class="second_title">MEDIDAS DE SEGURIDAD</h3>
              <p>En AFCleaning nos preocupamos en todo momento por mantener la confidencialidad, integridad y
                disponibilidad de la información que tratamos, para ello utilizamos normas internacionales para el
                cumplimiento de estas medidas (ISO/IEC 27001 e ISO/IEC 27002). En este sentido estamos comprometidos a
                establecer unos criterios adecuados para evaluar los riesgos de seguridad y de los derechos y
                libertades de las personas físicas orientados a tratarlos y a establecer los planes de tratamientos de
                los mismos para reducirlos hasta unos niveles aceptables.</p>
              <h3 class="second_title">DERECHOS DE LOS INTERESADOS</h3>
              <p>Usted tiene derecho a obtener confirmación sobre si en AFCleaning estamos tratando sus datos
                personales. En este sentido las personas interesadas podrán conocer qué datos tenemos solicitando su
                derecho de acceso, podrán solicitar la rectificación de los datos que no sean correctos y solicitar la
                supresión del mismos cuando ya no sean necesarios para la finalidad con la que fueron recogidos.
                Asimismo, pueden solicitar, en el caso que procedan, los derechos de oposición, limitación al
                tratamiento y portabilidad de sus datos, así como a no ser objeto de decisiones basadas únicamente en
                el tratamiento automatizado de sus datos.</p>
              <p>El derecho a la limitación del tratamiento que permite que el tratamiento de sus datos se paralice,
                de forma que únicamente se conserven sus datos debidamente bloqueados para el ejercicio o la defensa
                de posibles reclamaciones.</p>
              <p>Asimismo, informamos a nuestros clientes que tienen el derecho a la portabilidad de los datos que
                tratamos para prestarle los servicios que nos contraten. En este sentido, este derecho permitirá a
                nuestros clientes que transmitamos los datos que tratamos en un formato estructurado, de uso común y
                de lectura automática a otro responsable de tratamiento que hayan elegido.</p>
              <p>Para poder ejercer sus derechos, los interesados deberán dirigirse a AFCleaning mediante correo
                electrónico a la dirección info@cleaning.com o mediante correo postal, debiendo acreditar en cualquier
                caso su identidad mediante documento identificativo.</p>
              <p>Asimismo, y especialmente si considera que no ha obtenido satisfacción plena en el ejercicio de sus
                derechos, podrá presentar una reclamación ante la autoridad nacional de control dirigiéndose a estos
                efectos a la Agencia Española de Protección de Datos en C/ Jorge Juan nº 6, 28001 Madrid o a través de
                su servicio web en <a href="http://www.aepd.es/">www.aepd.es</a>. No obstante, al disponer de Delegado
                de Protección de Datos (DPD), deberá de forma previa enviar la reclamación al DPD de AFCleaning a la
                dirección info@afcleaning.com</p>